html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px 20px;
}
.logo{
    vertical-align: middle;
}

.title{
    font-size: 30px;
    vertical-align: middle;
    font-weight: bold;
}
.container{
    background-color: white;
    width: 60%;
    height: 800px;
    margin: auto;
    margin-top: 50px;
}

nav{
    border-bottom: solid #f6f8f9 2px;
    padding: 10px 25px;
}

.add{
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    border: solid #b1b3b4 1px;
    border-radius: 5px;
    font-size: 10px;
    color: #b1b3b4;
}
.add.task{
    background-color: #14aaf5;
    color: white;

}

.list.section{
    margin-top: 35px;
    margin-left: 35px;
    padding: 0px;
    list-style-type: none;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list.title {
    font-size: 30px;
    margin: 0px;
}

.check {
    color: green;
    border: solid green 2px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    width: fit-content;
    display: inline-block;
}
.X {
    color: red;
    border: solid red 2px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    width: fit-content;
    display: inline-block;
}
.tag{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    color: white;
}

.tag.editorial{
    background-color: #14aaf5;
}

.tag.Q1 {
    background-color: #ab5de6;
}

.tag.recruting{
    background-color: #2cc6ab;
}

.tag.mobile{
    background-color: #ff9b00;
}

.tag.website{
    background-color: #ec4e9d;
}

.tag.sales{
    background-color: #a3d113;
}