html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
    margin: 0px;
}

header{
    height: 70px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
}
.logo{
    display: inline-block;
    width: 50px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
    top: 10px;


}

.title{
    display: inline-block;
    margin-left: 10px;
    color: black;
    margin: 0px;
    position: relative;
    bottom: 5px;
}
