html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
    margin: 0px;
}

header{
    height: 70px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
}
.logo{
    display: inline-block;
    width: 50px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
    top: 10px;


}

.title{
    display: inline-block;
    margin-left: 10px;
    color: black;
    margin: 0px;
    position: relative;
    bottom: 5px;
}
.container{
    background-color: white;
    width: 60%;
    height: 800px;
    margin: auto;
    margin-top: 50px;
}

.row{
    width: 100%;
    height: 40px;
    border-bottom: solid #f6f8f9 2px;
}

.add{
    padding: 5px;
    display: inline-block;
    text-align: center;
    border: solid #b1b3b4 1px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    font-size: 10px;
    color: #b1b3b4;
}
.add.task{
    margin-left: 30px;
    background-color: #14aaf5;
    color: white;

}
